@mixin alignCenter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin alignStart {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin boxShadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}